<div class="container-fluid" style="background-color:rgb(234, 218, 196);">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-1">
            <li class="breadcrumb-item active" aria-current="page">Navigation</li>
        </ol>
    </nav>
</div>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb fs-5">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Books</li>
        </ol>
    </nav>
</div>
    


<!--list-group for different genre-->
<div class="container-fluid p-3" style="background-color:blanchedalmond;">
    
    <div class="list-group text-center">
        <li class="list-group-item fs-3 fw-bold" aria-current="true">
            GENRE
        <button type="button" class="list-group-item list-group-item-action">ACTION</button>
        <button type="button" class="list-group-item list-group-item-action">ADVENTURE</button>
        <button type="button" class="list-group-item list-group-item-action">FANTASY</button>
        <button type="button" class="list-group-item list-group-item-action">ROM-COM</button>
        <button type="button" class="list-group-item list-group-item-action">SCI-FI</button>
        <button type="button" class="list-group-item list-group-item-action">MYSTERY</button>
        <button type="button" class="list-group-item list-group-item-action">HISTORY</button>
        <button type="button" class="list-group-item list-group-item-action">MATURE</button>
    </div>
</div>    
<div class="container-fluid" style="background-color:blanchedalmond;">
    
    <div class="card-group" style="background-color:blanchedalmond;">
        <!--cards have individual inline css for margins and positioning-->
        <!--might change it to proper grouping margins-->
        <!--style="width: 400px; margin-top: -382px; margin-left: 300px;"-->
        <div class="card">
            <img class="card-img-top" src="assets/seeker.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Synopsis</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
        <!--style="width: 400px; margin-top: -172px; margin-left: 710px;"-->
                                                                                <!--style="margin-top: -575px"-->
        <div class="card">
            <img class="card-img-top" src="assets/traveler.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Synopsis</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
        <!--style="width: 400px; margin-top: -172px; margin-left: 1120px;"-->
                                                                                <!--style="margin-top: -572px"-->
        <div class="card">
            <img class="card-img-top" src="assets/disruptor.jpg" class="img3">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Synopsis</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
      </div>


</div>
    