<div class="container-fluid p-3" style="background-color:rgb(234, 218, 196);">
<!--list-group for different genre-->

    <div class="container-fluid">
        <div class="list-group text-center">
            <li class="list-group-item fs-3 fw-bold" aria-current="true">
                GENRE
            <button type="button" class="list-group-item list-group-item-action">ACTION</button>
            <button type="button" class="list-group-item list-group-item-action">ADVENTURE</button>
            <button type="button" class="list-group-item list-group-item-action">FANTASY</button>
            <button type="button" class="list-group-item list-group-item-action">ROM-COM</button>
            <button type="button" class="list-group-item list-group-item-action">SCI-FI</button>
            <button type="button" class="list-group-item list-group-item-action">MYSTERY</button>
            <button type="button" class="list-group-item list-group-item-action">HISTORY</button>
            <button type="button" class="list-group-item list-group-item-action">MATURE</button>
        </div>
        

        <!--card-group contents doesnt align within the container and somewhat goes past when zoomed in-->
        <div class="group">
            <div class="card-group" style="background-color:blanchedalmond;">
                <!--cards have individual inline css for margins and positioning-->
                <!--might change it to proper grouping margins-->
                <!--style="width: 400px; margin-top: -382px; margin-left: 300px;"-->
                <div class="card">
                    <img class="card-img-top" src="assets/seeker.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                       <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/seeker.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Seeker
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: February 10, 2015
                                        </div>
                                        <div class="h5">
                                            Synopsis: The night Quin Kincaid takes her Oath, she will become what she has trained to be her entire life. She will become a Seeker. This is her legacy, and it is an honor.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--style="width: 400px; margin-top: -172px; margin-left: 710px;"-->
                                                                                        <!--style="margin-top: -575px"-->
                <div class="card">
                    <img class="card-img-top" src="assets/traveler.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/traveler.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Traveler
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: January 12, 2016
                                        </div>
                                        <div class="h5">
                                            Synopsis: Quin Kincaid is a Seeker. Her legacy is an honor, an ancient role passed down for generations. But what she learned on her oath night changed her world forever.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--style="width: 400px; margin-top: -172px; margin-left: 1120px;"-->
                                                                                        <!--style="margin-top: -572px"-->
                <div class="card">
                    <img class="card-img-top" src="assets/disruptor.jpg" class="img3">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/disruptor.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Disruptor
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: February 7, 2017
                                        </div>
                                        <div class="h5">
                                            Synopsis: Quin has spent her life as her father's pawn. She was trained to kill and manipulated to guarantee her family's power. And now that she's broken free of that life, she's found herself trapped again, hostage to a plot that has been centuries in the making.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/disruptor.jpg" class="img3">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/disruptor.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Disruptor
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: February 7, 2017
                                        </div>
                                        <div class="h5">
                                            Synopsis: Quin has spent her life as her father's pawn. She was trained to kill and manipulated to guarantee her family's power. And now that she's broken free of that life, she's found herself trapped again, hostage to a plot that has been centuries in the making.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="group1">
            <div class="card-group" style="background-color:blanchedalmond;">
                <!--cards have individual inline css for margins and positioning-->
                <!--might change it to proper grouping margins-->
                <!--style="width: 400px; margin-top: -382px; margin-left: 300px;"-->
                <div class="card">
                    <img class="card-img-top" src="assets/seeker.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/seeker.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Seeker
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: February 10, 2015
                                        </div>
                                        <div class="h5">
                                            Synopsis: The night Quin Kincaid takes her Oath, she will become what she has trained to be her entire life. She will become a Seeker. This is her legacy, and it is an honor.

                                            As a Seeker, Quin will fight beside her two closest companions, Shinobu and John, to protect the weak and the wronged. Together they will stand for light in a shadowy world.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--style="width: 400px; margin-top: -172px; margin-left: 710px;"-->
                <!--style="margin-top: -575px"-->
                <div class="card">
                    <img class="card-img-top" src="assets/traveler.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/traveler.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Traveler
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: January 12, 2016
                                        </div>
                                        <div class="h5">
                                            Synopsis: Quin Kincaid is a Seeker. Her legacy is an honor, an ancient role passed down for generations. But what she learned on her oath night changed her world forever.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--style="width: 400px; margin-top: -172px; margin-left: 1120px;"-->
                                                                                        <!--style="margin-top: -572px"-->
                <div class="card">
                    <img class="card-img-top" src="assets/disruptor.jpg" class="img3">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <img class="card-img-top" src="assets/seeker.jpg">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="h3">
                                                    Title: Disruptor
                                                </div>
                                                <div class="h2">
                                                    Author: Arwen Elys Dayton
                                                </div>
                                                <div class="h4">
                                                    Date Published: February 7, 2017
                                                </div>
                                                <div class="h5">
                                                    Synopsis: Quin has spent her life as her father's pawn. She was trained to kill and manipulated to guarantee her family's power. And now that she's broken free of that life, she's found herself trapped again, hostage to a plot that has been centuries in the making.
                                                </div>
                                            </div>
                                        </div>
                                        
                                            
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/disruptor.jpg" class="img3">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <p class="card-text"></p>
                        <!-- Button trigger modal -->
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        View
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div>
                                            <img class="card-img-top text-center" src="assets/seeker.jpg">
                                        </div>
                                        <div class="h3">
                                            Title: Disruptor
                                        </div>
                                        <div class="h2">
                                            Author: Arwen Elys Dayton
                                        </div>
                                        <div class="h4">
                                            Date Published: February 7, 2017
                                        </div>
                                        <div class="h5">
                                            Synopsis: Quin has spent her life as her father's pawn. She was trained to kill and manipulated to guarantee her family's power. And now that she's broken free of that life, she's found herself trapped again, hostage to a plot that has been centuries in the making.
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal content somewhat only shows one data-target* -->