.list-group {
    display: inline-block;
}


.card-group {
   display: flex;
   
}

.card {
    
    margin-right: 1rem;
}

.group {
    max-width: fit-content;
    min-width: max-content;
    margin-top: -532px;
    margin-left: 250px;
    
}

.group1 {
    max-width: fit-content;
    min-width: max-content;
    margin-left: 250px;
    
}