<br><br>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col p-5 text-center display-6">
            An image description conveys the same or equivalent information that a sighted reader would get when they look at a picture, to someone with a print disability such as those who are blind or visually impaired. Image descriptions can be included in digital content in two forms: alt-text and Long Description.
        </div>
        <div class="col">
            <img src="assets/img/bayonetta1.png" class="bayo1">
        </div>
    </div>
</div>

<br><br>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <img src="assets/img/bayonetta2.jpg" class="bayo2">
        </div>
        <div class="col p-5 text-center display-6">
            An image description conveys the same or equivalent information that a sighted reader would get when they look at a picture, to someone with a print disability such as those who are blind or visually impaired. Image descriptions can be included in digital content in two forms: alt-text and Long Description.
            
        </div>
    </div>
</div>

<br><br>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col p-5 text-center display-6">
            An image description conveys the same or equivalent information that a sighted reader would get when they look at a picture, to someone with a print disability such as those who are blind or visually impaired. Image descriptions can be included in digital content in two forms: alt-text and Long Description.
        </div>
        <div class="col">
            <img src="assets/img/bayonetta3.png" class="bayo3">
        </div>
    </div>
</div>

<br><br><hr><hr>
    
<div class="container-fluid text-center">
    <div class="row">
      <div class="col text-center p-1">
        <h3>
            About Company
        </h3>
        <p>
            In every shot, there is power factor! Take a shot with us! Power Factor Guns and Ammo Store is a private company categorized under guns and gunsmith. We aim to ensure optimum customer satisfaction by providing them precision products and outstanding services. Through this, we are building long-term relationship with our clients. We envision ourselves to be the leading distributor in the industry of sales and merchandising of guns and ammunition products.
        </p>
      </div>
      <div class="col text-center p-1">
        <h3>
            About Products
        </h3>
        <p>
            In every shot, there is power factor! Take a shot with us! Power Factor Guns and Ammo Store is a private company categorized under guns and gunsmith. We aim to ensure optimum customer satisfaction by providing them precision products and outstanding services. Through this, we are building long-term relationship with our clients. We envision ourselves to be the leading distributor in the industry of sales and merchandising of guns and ammunition products.
        </p>
      </div>
      <div class="col text-center p-1">
        <h3>
            About Author
        </h3>
        <p>
            In every shot, there is power factor! Take a shot with us! Power Factor Guns and Ammo Store is a private company categorized under guns and gunsmith. We aim to ensure optimum customer satisfaction by providing them precision products and outstanding services. Through this, we are building long-term relationship with our clients. We envision ourselves to be the leading distributor in the industry of sales and merchandising of guns and ammunition products.
        </p>
      </div>
    </div>
  </div>
