<!---instantiation of variables-->
<!---
<h2>{{Course}}</h2>
  <h4>{{CDesc}}</h4>

  <br>--><!--line break-->

<!--
<ul>
  <li *ngFor="let student of students">
    {{student.value}}  
  </li>
</ul>

<br>
-->
<!--to add interface later
<label>Add Student:
  <input #studentInput>{{studentInput.value}}
</label>

<br>
-->
<!--<app-books-list></app-books-list>-->

<h2>Student List</h2>
<table class="table table-bordered">
  <thead>
      <tr>
        <th>ID Number</th>
        <th>Full Name</th>
        <th>Date Enrolled</th>
        <th>Course</th>
        <th>Year Level</th>
        <th>Contact</th>
        <th>Birth Date</th>
        <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>{{student.id}}</td>
        <td>{{student.fname | uppercase}} {{student.lname | uppercase}}</td>
        <td>{{student.dateEnrolled | date: 'longDate'}}</td>
        <td>{{student.Course}}</td>
        <td>{{student.YrLevel}}</td>
        <td>{{student.contactNum}}</td>
        <td>{{student.bdate | date: 'longDate'}}</td>
        <td></td>
      </tr>      
  </tbody>
</table>

<!--the student list is what shown in the web not the book-list -->
<!--refer to line 24 if you want to display-->