<!---instantiation of variables-->
<!---
<h2>{{Course}}</h2>
  <h4>{{CDesc}}</h4>

  <br>--><!--line break-->

<!--
<ul>
  <li *ngFor="let student of students">
    {{student.value}}  
  </li>
</ul>

<br>
-->
<!--to add interface later
<label>Add Student:
  <input #studentInput>{{studentInput.value}}
</label>

<br>
-->
<!--<app-books-list></app-books-list>-->


<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- view-details component somehow doesnt show the contents of the student-details when pressed -->