
    <div class="col">
        <div class="row">
            <h1 style="color:black;" >TEXT CONTENT</h1>
            <span style="margin: 40px;">Lorem ipsum dolor sit amet, consectetur adipisci elit, <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis<br> suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis <br>aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat<br> nulla pariatur. Excepteur sint obcaecat cupiditat non proident, <br>sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        </div>
    </div>
        

    


    
    
    