
<div class="mb-3"></div>

<div class="col">
    <div class="row-4">
        <div class="card mb-3" style="max-width: 5800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/bayonetta1.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>BAYONETTA</b></h5>
                        <p class="card-text">Scarborough Fair</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mb-3" style="max-width: 5400px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/bayonetta2.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>BAYONETTA 2</b></h5>
                        <p class="card-text">Love is Blue</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card mb-3" style="max-width: 5400px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="assets/img/bayonetta3.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><b>BAYONETTA 3</b></h5>
                        <p class="card-text">Color my World</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>