
<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
  <div class="bg-dark navbar-nav p-4">
    <a class="nav-link" routerLink="Header" style="color: white;">Header</a>
    <a class="nav-link" routerLink="Main" style="color: white;">Main</a>
    <a class="nav-link" routerLink="Footer" style="color: white;">Footer</a>
    <a class="nav-link" routerLink="Registration" style="color: white;">Registration</a>
    <a class="nav-link" routerLink="About" style="color: white;">About</a>
    <a class="nav-link" routerLink="Login" style="color: white;">Login</a>
    <a class="nav-link" routerLink="Gallery" style="color: white;">Gallery</a>
  </div>
</div>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>