
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark navbar-nav p-4">
    <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
    <a class="nav-link" href="/" style="color: white;">Features</a>
    <a class="nav-link" href="#" style="color: white;">Pricing</a>
  </div>
</div>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>z
  </div>
  
</nav>